body {
  /*width: 90%;*/
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

svg {
   
}

path.census {
  fill: none;
  stroke: #000000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.census:hover {
/*  opacity: 0.5;*/
}

path.neighborhood {
  fill: white;
  stroke: #000000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.neighborhood:hover {
  opacity: 0.5;
}

div.tract-tooltip, div.bus-tooltip, div.airbnb-tooltip {	
    position: absolute;				
    width: 250px;					
    height: 35px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
    font: 12px 'Roboto', sans-serif;
    background: lightsteelblue;	
    border: 1px solid black;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.nbrhood-tooltip {	
    position: absolute;				
    width: 300px;					
    height: 35px;
	padding-top: 12px;
    font: 12px 'Roboto', sans-serif;
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

div.bus-tooltip, div.airbnb-tooltip {			
    width: 200px;					
/*	padding-top: 17px;*/
    background: snow;	
}

div.airbnb-tooltip {
	background: #fd5c63;
	opacity: 0.3;
}

.bus {
	visibility: visible;
}

button {
	border:1px solid black;
	border-radius:0.3em;
	margin-left:5px;
	background:#EAEAEA;
}

button:focus {
	outline: none;
}

.clicked {
	background:#FF0;
}


/*
.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #f39; stroke-width: 1.5px; }
.rail { stroke: #7de; }
*/

